<div class="container">
    <ng-template  #errorTemplate>
        <div class="text-danger">{{errorMessage}}</div>
    </ng-template>
    <ng-container *ngIf="products;else errorTemplate">
        <div class="card">
        <div class="card-header">Products List</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th><th>Name</th><th>Price</th><th>Promotion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products">
                     <td>{{p.id}}</td>
                     <td>{{p.name}}</td>
                     <td>{{p.price}}</td>
                     <td>
                        <i *ngIf="p.promotion==true" class="bi bi-heart-fill text-success"></i>
                     </td>
                     <td>
                        <button (click)="handleSetPromotion(p)" [ngClass]="p.promotion==true?'btn-danger':'btn-success'" class="btn">
                            <span *ngIf="p.promotion==true">Promotion Off</span>
                            <span *ngIf="p.promotion==false" >Promotion On</span>
                        </button>
                     </td>
                     <td>
                        <button (click)="handleDeleteProduct(p)" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                     </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
</div>